.heading{
    background-color: aqua;
    text-align: center;
}
.clr{
    color:white;
}
nav .navbar-nav a.nav-link.clr {
  color: white;
}
.sec-container{
    background-color: grey;
    float: right;
    width: 25%;
    height:100vh;
}