
.card-fir-container{
    width:250px;
    height: 200px;
    background-image: url("https://photoshop-kopona.com/uploads/posts/2016-07/1468132977_background-with-flower-2.jpg");
    margin-right:20px;
    
}
.card-bottom-container{
    height: 150px;
    margin-top: 120px;
    margin-right:20px;
    width:250px;
}
.card-sec-container{
    width:250px;
    height: 200px;
    background-image: url("https://photoshop-kopona.com/uploads/posts/2016-07/1468132990_background-with-flower-14.jpg");
    margin-right:20px;
    
}